@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Karla:wght@700&display=swap');


:root {
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.blob1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  animation: move1 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  z-index: -1;
}

@keyframes move1 {
  0%   { transform: scale(1)   translate(-60px, -50px); }
  38%  { transform: scale(0.8) translate(60vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8) translate(60vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(-60px, -50px); }
}

.no-notes-title {
  color: #293264;
  font-family: 'Karla';
  font-style: normal;
  font-size: 31.25px;
  line-height: 37px;
  margin: auto;
}

.no-notes-text {
  color: #293264;
  margin-bottom: 39px;
  margin-top: 7px;
}

.no-notes-btn {
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  width: 193px;
  height: 52px;
  font-size: 16px;
  line-height: 19px;
  margin: auto;
  cursor: pointer;
}

.question-title {
  font-family: 'Karla';
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #293264;
  text-align: left;
}

.answer-selected{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin: 10px;
  border-radius: 12px;
  padding: 7px;
  min-width: 80px;
  background-color: #D6DBF5;
  border: 2px solid #D6DBF5;
}

.line{
  margin-top: .5rem;
  text-align: left;
  border-top: 0.794239px solid #DBDEF0;
}

.answer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin: 10px;
  border: 2px solid #4D5B9E;
  border-radius: 12px;
  padding: 7px;
  min-width: 80px;
  background-color: #F5F7FB;
}

.question-options-container {
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.question-container {
  margin: 20px;
}

.check-answers {
  width: 150px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  color: #F5F7FB;
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
}

#correct {
  background-color: #94D7A2;
  border: 2px solid #94D7A2;
}

#incorrect {
  background-color: #F8BCBC;
  border: 2px solid #F8BCBC;
  opacity: 0.5;
}

#not-selected {
  opacity: 0.5;
}

.btn-playAgain {
  width: 104px;
  height: 40px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  color: #F5F7FB;
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
}

.result-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  margin-right: 25px;
}

.result-container {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5F7FB;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
}

