@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Inter:wght@500&display=swap");

:root {
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.no-notes-title {
  color: #293264;
  font-family: 'Karla';
  font-style: normal;
  font-size: 31.25px;
  line-height: 37px;
  margin: auto;
}

.no-notes-text {
  color: #293264;
  margin-bottom: 39px;
  margin-top: 7px;
}

.no-notes-btn {
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  width: 193px;
  height: 52px;
  font-size: 16px;
  line-height: 19px;
  margin: auto;
}

.question-title {
  font-family: 'Karla';
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #293264;
  text-align: left;
}

.answer-selected{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin: 10px;
  border-radius: 12px;
  padding: 7px;
  min-width: 80px;
  background-color: #D6DBF5;
  border: 2px solid #D6DBF5;
}

.line{
  color: #DBDEF0;
  text-align: left;
}

.answer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin: 10px;
  border: 2px solid #4D5B9E;
  border-radius: 12px;
  padding: 7px;
  min-width: 80px;
  background-color: #F5F7FB;
}

.question-options-container {
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.question-container {
  margin: 20px;
}

.check-answers {
  width: 150px;
  height: 50px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  color: #F5F7FB;
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5F7FB;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

